<div class="bg-color red"><div class="container mt-4">
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" [(ngModel)]="newTodo.title">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control mb-3" [(ngModel)]="newTodo.description">
            </div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary" (click)="addTodo()">Add TODO</button>
        </div>
    </div>
</div>
</div>

<ul class="list-group mt-4">
    <li class="list-group-item" *ngFor="let todo of todos; let i = index" (click)="deleteTodo(i)">
        <h4>{{ todo.title }}</h4>
        <p>{{ todo.description }}</p>
        <button class="btn btn-danger " (click)="$event.stopPropagation(); deleteTodo(i)">Delete</button>
        <button class="btn btn-primary" (click)="editTodo(i)">Edit</button>
    </li>
</ul>

